h1.format {
  width: 100%;
  height: 2em;
  text-align: center;
  text-anchor: middle;
  vertical-align: middle;
  font-size: 60px;
  line-height: 2em;
  background: #6cf;
  background-clip: border-box;
  border-radius: 0.2em;
  box-shadow: 0px 0px 0.5em 0.5em #6cf;
}

a {
  color: rgb(0, 80, 185);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1.format > a {
  text-decoration: none;
  color: black;
}

#post {
  margin: 2em;
  float: left;
  padding: 1em;
}

#sidebar {
  float: right;
  width: 20%;
  font-size: 12px;
}

abbr {
  text-decoration: dotted;
}