body {
    margin: 0px auto;
    padding: 0px;
    font-size: 1.1em;
    background: #f8ffff;
}

/* ----- top navigation bar ----- */
nav {    
    /* overflow: hidden; */
    position: fixed; 
    top: 0;
    width: 100%; /* Full width */
    border-bottom: 0.5rem solid #80c0f0;
    color: white;
    background-color: #303030;
    font-size: 1.2rem;
    font-family: var(--font-base,"Lato",sans-serif);
}  
nav a {
    position: relative;
    display: inline-block;
    margin-top: 0.2rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.3rem 0.4rem 0px 0px;
    text-decoration: none;
    color: inherit;
}  
nav a:hover {
    background-color: #0080f0;
}
nav a.active {
    background-color: #80c0f0;  /* = nav.border-bottom */
}


.dropDown {
    position: relative;
    display: inline-block;
}
.dropDownContent-hover, .dropDownContent-Click {
    display: none;
    position: absolute;
    white-space: nowrap;
    background-color: #f9f9f9;
    border: 1px dotted gray;
    box-shadow: 0px 0.5rem 1rem 0px #102040;
    z-index: 1;
}
.dropDownContent-hover a, .dropDownContent-Click a {
    display: block;
    color: black;
    font-size: 1rem;
    border-radius: 0pt;
}
.dropDownContent-hover a:hover, .dropDownContent-Click a:hover {
    background-color: #80d0d0;
}
.dropDown:hover .dropDownContent-hover {
    display: block;
}
/* note: dropDownContent-click need to handle the display block<->none in javascript */


header {
    width: 100%; 
    height: 7rem;
    background-image: linear-gradient(#80c0f0, #a0c0f0, #f8ffff);   /* 1st = nav.border-bottom, 3rd = body.background */
}
header h1 {
    padding-top: 1.3rem;
}

section {
    width: 100%;
    margin: 1rem;
    font-size: 1rem;
}

section .flex-container {
    margin: 0rem;
	display: -webkit-flex; /* Safari */		
    display: flex; /* Standard syntax */
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
section .flex {
	padding: 0.5rem;
	-webkit-flex: 1; /* Safari */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* Standard syntax */
}

.dotLineLeft {
    padding-left: 1rem;
    border-left: 1px dotted gray;
}
.dotLineRight {
    padding-right: 1rem;
    border-right: 1px dotted gray;
}

footer {
    margin-top: 1rem;
    background: #f0ffff;
    border-top: 1px solid #c0ffff;
    border-bottom: 1px solid #c0ffff;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
}
footer ul {
    font-family: var(--font-base,"Lato",sans-serif);
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
    color: #002060;
}
a:hover {
    text-decoration: underline;
}


h1 {
    text-align: center;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}
  
h3 {
    font-size: 1.2rem;
}

.metadata {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;
}

ul {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
