body {
    margin: 0pt auto;
    padding: 0pt;
    font-size: 1.1em;
    background: #e0f0f0;
}

/* ----- top navigation bar ----- */
nav {    
    /* overflow: hidden; */
    position: fixed; 
    top: 0;
    width: 100%; /* Full width */
    border-bottom: 4pt solid #80c0f0;
    color: white;
    background-color: #303030;
    font-size: 14pt;
    font-family: var(--font-base,"Lato",sans-serif);
}  
nav a {
    position: relative;
    display: inline-block;
    margin-top: 3pt;
    padding: 4pt 6pt 4pt 6pt;
    border-radius: 5pt 5pt 0pt 0pt;
    text-decoration: none;
    color: inherit;
}  
nav a:hover {
    background-color: #0080f0;
}
nav a.active {
    background-color: #80c0f0;  /* = nav.border-bottom */
}
nav .dropDown {
    position: relative;
    display: inline-block;
}
nav .dropDown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160pt;
    border: 1px dotted gray;
    box-shadow: 0pt 8pt 16pt 0pt #102040;
    z-index: 1;
}
nav .dropDown-content a {
    display: block;
    color: black;
    font-size: 12pt;
    border-radius: 0pt;
}
nav .dropDown-content a:hover {
    background-color: #80d0d0;
}
nav .dropDown:hover .dropDown-content {
    display: block;
}
  
header {
    /*margin-top: 20pt;*/
    width: 100%; 
    height: 72pt;
    background-image: linear-gradient(#80c0f0, #a0c0f0, #e0f0f0);   /* 1st = nav.border-bottom, 3rd = body.background */
}
header h1 {
    padding-top: 20pt;
    font-size: 2.5em;
}

section {
    margin: 30pt 10pt 10pt 10pt;
    width: 100%;
}


/* put content of sectionBar first in html */
.sectionContent, .sectionBar { 
    padding: 10pt;
    min-height: 100pt;
    box-sizing: border-box;
}
.sectionBar {
    width: 18em;
    float: right;
}    
.sectionContent {
    width: calc(100% - 18em); /* sync to .sectionBar.width */
    float: left;
    border-right: 1px dotted gray;
}

/*
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
*/

footer {
    margin-top: 10pt;
    border-top: 1px solid lightskyblue;
    font-size: 1em;
    text-align: center;
    align-items: center;
}
footer ul {
    font-family: var(--font-base,"Lato",sans-serif);
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-left: 10pt;
    margin-right: 10pt;
}

a {
    text-decoration: none;
    color: #002060;
}
a:hover {
    text-decoration: underline;
}


h1 {
    text-align: center;
    font-size: 2.5em;
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
}

h2 {
    font-size: 2.2em;
    /*margin-top: 0pt; */
}
  
h3 {
    font-size: 1.8em;
}

.meta {
    font-size: 1.0em;
    font-style: italic;
}
