body {
    margin: 0pt auto;
    padding: 0pt;
}

.mainContent {
    margin: 30pt 10pt 10pt 10pt;
}

/* ----- top navigation bar : begin ----- */

.topNavBar {    
    /* overflow: hidden; */
    background-color: #333;
    position: fixed; /* Set the topNavBar to fixed position */
    top: 0; /* Position the topNavBar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 4px solid white;  
}
  
.topNavBar a {
    float: left;
    font-size: 14pt;
    font-family: var(--font-base,"Lato",sans-serif);
    color: white;
    text-align: center;
    padding: 6pt 8pt;
    text-decoration: none;
}
  
.topNavBar a.active {
    background-color: #4CAF50;
    color: white;
}
  
.dropDown {
    float: left;
    overflow: hidden;
    font-size: 14pt;  
    font-family: var(--font-base,"Lato",sans-serif);
}
  
.dropDown .dropButton {
    border: none;
    outline: none;
    color: white;
    padding: 6pt 8pt;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.topNavBar a:hover, .dropDown:hover .dropButton {
    background-color: rgb(0, 127, 185);
}
  
.dropDown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160pt;
    border: 1px dotted gray;
    box-shadow: 0pt 8pt 16pt 0pt rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 25pt;
}
  
.dropDown-content a {
    float: none;
    color: black;
    font-size: 12pt;
    padding: 6pt 8pt;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropDown-content a:hover {
    background-color: #ddd;
}
  
.dropDown:hover .dropDown-content {
    display: block;
}
  
/* ----- top navigation bar : end ----- */
  

footer {
    margin-top: 10pt;
    border-top: 1px solid lightskyblue;
    font-size: 1em;
    text-align: center;
    align-items: center;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-left: 10pt;
    margin-right: 10pt;
}

a {
    text-decoration: none;
    color: darkblue;
}
a:hover {
    text-decoration: underline;
}

ul.posts { 
    margin: 10pt auto 20pt; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #101010;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
}

h2 {
    font-size: 2.2em;
}
  
h3 {
    font-size: 1.8em;
}
  
h6 {
    font-size: 1.2em;
    color: #555;
}  
h6 a {
    color: #06b;
}
  
