
.nav-buttonContainer {
    display: flex;
    flex-wrap: nowrap; 
    margin-bottom: 0.5rem; 
    padding-bottom: 0.2rem;
    border-bottom: 1px dotted gray;
}
.nav-buttonFillSpace {
    flex: 1;
}
.nav-buttonLeft {
    text-align: left;
}
.nav-buttonRight {
    text-align: right;
}
.nav-buttonLeft, .nav-buttonRight {
    /*flex: 1;*/
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
    border: 1px dotted gray;
}

.thumbnail {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.thumbnail img {
    margin: 0.1rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border: 1px dotted gray;
}

.dialog a {
    text-decoration: underline;
    color: darkblue;
}
.dialog li {
    list-style-type: none;
    padding-left: 0.4rem;
    text-indent: -2.2rem;
}
.dialog li[who="me"]::before {
    content: ".Me: ";
    font-family: monospace;
}
.dialog li[who="son"]::before {
    content: "Son: ";
    font-family: monospace;
}
