
.nav-left {
    float: left;
}
.nav-right {
    float: right;
}
.nav-left, .nav-right {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
}

.thumbnail {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.thumbnail img {
    margin: 0.1rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border: 1px dotted gray;
}

.dialog a {
    text-decoration: underline;
    color: darkblue;
}
.dialog li {
    list-style-type: none;
    padding-left: 0.4rem;
    text-indent: -2.2rem;
}
.dialog li[who="me"]::before {
    content: ".Me: ";
    font-family: monospace;
}
.dialog li[who="son"]::before {
    content: "Son: ";
    font-family: monospace;
}
